<!DOCTYPE html>
<html lang="ru" data-ng-app="frApp">
<head>
  <title>Вакансии компании Град Персонал</title>
  <meta charset="UTF-8">
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/style.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
        <a href="index.html" class="col-2 main-logo">
          <img src="images/main-logo.png" height="44" width="133" alt="">
        </a>
      
        <nav class="col-7 main-nav">
          <ul>
            <li class="main-nav__nav-item"><a href="index.html">Главная</a></li>
            <li class="main-nav__nav-item"><a href="workers.html">Разнорабочие</a></li>
            <li class="main-nav__nav-item"><a href="loaders.html">Грузчики</a></li>
            <li class="main-nav__nav-item"><a href="#" class="active">Вакансии</a></li>
          </ul>
        </nav>
        <div class="col-3 fast-contact">
          <ul>
            <li class="fast-phone">
              +7 495 532-56-54
            </li>
            <li class="fast-email">
              <a href="mailto:gradpersonal@mail.ru">gradpersonal@mail.ru</a>
            </li>
          </ul>
        </div>
        <!-- /.fast-contact -->
      </div>
      <!-- /.row -->
    </div>
    <!-- .container -->
  </header>
  <main>
    <div class="top-slide top-slide__vacancy">
      <div class="container">
        <h1>Зарабатывайте до 35 000 рублей в месяц уже через 24 часа Благодаря работе грузчиком и разнорабочим!</h1>
        <div class="row">
          <ul class="col-7 top-slide__advantages">
            
          </ul>
          <!-- /.top-slider__advantages col-6 -->
          <div class="col-4 main-feedback">
            <div class="main-feedback__feedback-form">

              <div class="main-feedback__feedback-head">Начните зарабатывать с нами</div>
              <form action="worker" data-ng-controller="FormController">
                <fieldset>
                  <label for="phone-input-main-feedback">Оставьте ваш телефон</label>
                  <input type="text" id="phone-input-main-feedback" class="phone-input" placeholder="+7 (___) ___-__-__" data-ng-class="{error: invalid}" data-ng-model="data.telEmail">
                  <input class="btn btn__slide" type="submit" value="Отправить" data-ng-click="submit()">
                </fieldset>
              </form>
              <div class="main-feedback__phone">
                <span class="main-feedback__phone-head">Или позвоните нам:</span>
                <span class="main-feedback__phone-number">+7 495 532-56-54</span>
              </div>
            </div>
            <!-- .main-feedback__feedback-form -->
          </div>
          <!-- .main-feedback -->
        </div>
        <!-- .row -->
        <img class="top-slide__man-vacancy" src="images/man-top-slide-vacancy_03.png" alt="">
      </div>
      <!-- /.container -->
    </div>
    <!-- /.top-slide -->

    <div class="advantages advantages--white advantages__vacancy"> 
      <div class="container">
        <div class="row">
          <div class="advantages__advantages-item col-4">
            <img src="images/icon-watch.png" alt="">
            <p>Когда хочешь</p>
          </div>
          <!-- /.advantages__advantages-item col-4 -->
          <div class="advantages__advantages-item col-4">
            <img src="images/icon-compass.png" alt="">
            <p>Где хочешь</p>
          </div>
          <!-- /.advantages__advantages-item col-4 -->
          <div class="advantages__advantages-item col-4">
            <img src="images/icon-purse.png" alt="">
            <p>Выплаты еженедельно</p>
          </div>
          <!-- /.advantages__advantages-item col-4 -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.continer -->
    </div>
    <!-- /.advantages advantages-white-->
    
  <footer>
    <div class="container">
      <div class="row">
        <p class="col-9">Хотите такой же бизнес с прибылью 150 000 руб./мес? Заходите на <a href="http://prconsult.bz/">prconsult.bz</a></p>
        <span class="col-3">© 2015</span>
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container -->
  </footer>
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="js/jquery.maskedinput.min.js"></script>
  <script src="js/jquery.bxslider.min.js"></script>
  <script src="js/angular.min.js"></script>
  <script src="js/ui-bootstrap-custom-tpls-0.12.1.min.js"></script>
  <script src="js/frApp.js"></script>
  <script src="js/main.js"></script>
</body>
</html>